<head>
	<link rel="stylesheet" href="/css/style.css">
    <script src="/js/form.js"></script>
</head>
<div>
    <form action="" data-target="user_confirmRegister" data-cbsuccess="route:/user/login">
        <div class="input_wrap_vertical">
            <input name="code" required placeholder="confirm code"/>
        </div>
        <div class="input_wrap_vertical">
            <input type="submit" class="code_submit" value="submit"/>
        </div>
    </form>
    <form action="" data-target="user_sendConfirm">
        <div class="input_wrap_vertical">
            <input type="submit" class="code_submit" value="Send again"/>
        </div>
    </form>
</div>