.hidden{
    display: none !important;
}
.day_of_week_0{
   color:red; 
}
.day_of_week_6{
    color:red; 
 }
 .left{
     float: left;
 }
 .time_legend div{
    height: 22px;
 }
 .row{
    margin:3px;
}
.table_cell {
    width: 100px;
    display: inline-block;
    overflow: hidden;
}
.table_head{
    background-color: #cbcbcb;
    width: 740px;
    border-right: #cbcbcb solid;
}
.status{
    margin: 5px;
    display: inline-block;
}
.appointment{
    border-bottom: #cbcbcb solid;
}
.appointment_list{
    width: 740px;
    border-right: #cbcbcb solid;
}
.input_wrap{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.form_field{
    border: 1px solid #000000;
    height: 60px;
    margin: 0;
    font-family: 'Circe',Arial,sans-serif;
    font-size: 100%;
    max-width: 159px !important;
}
.form_submit{
    font-family: 'Circe',Arial,sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: 700;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: #ffffff;
    background-color: #000000;
}
.gray{
    background-color: #bbbbbb;
}
.appointment_form {
    display: inline-block;
    width: 340px;
}
.appointment_table {
    vertical-align: top;
    display: inline-block;
    width: 750px;
}
.input_wrap_vertical{
    margin : 5px;
}
.confirm_window {
    background-color: #46b450;
    width: 1170px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 30px 0px;
    color: #fefefe;
    font-size: 20px;
}
.field-top-label {
    margin-top: -26px;
    font-size: 18px;
}
.pointer {
    cursor: pointer;
}

.head_menu_block {
    border: solid;
    padding: 5px;
    width: 100px;
    margin: 0px 5px 5px 0px;
}
.head_menu_block_head{
    font-size: 20px;
    margin-bottom: 5px;
}
.head_menu{
    background-color: #cecece;
}

.head_menu_block_item {
    margin:2px;
}

.checkbox_wrapper{
    text-align: center;
    height: 60px;
}
.form_submit_row{
    text-align: right;
}