.hidden{
    display: none;
}
.day_of_week_0{
   color:red; 
}
.day_of_week_6{
    color:red; 
 }
 .left{
     float: left;
 }
 .time_legend div{
    height: 22px;
 }
 .row{
    margin:3px;
}
.table_cell {
    width: 100px;
    display: inline-block;
}
.table_head{
    background-color: #cbcbcb;
    width: 630px;
    border-right: #cbcbcb solid;
}
.status{
    margin: 5px;
    display: inline-block;
}
.appointment{
    border-bottom: #cbcbcb solid;
}
.appointment_list{
    width: 630px;
    border-right: #cbcbcb solid;
}