.hidden{
    display: none !important;
}
.day_of_week_0{
   color:red; 
}
.day_of_week_6{
    color:red; 
 }
 .left{
     float: left;
 }
 .time_legend div{
    height: 22px;
 }
 .row{
    margin:3px;
}
.table_cell {
    width: 100px;
    display: inline-block;
    overflow: hidden;
}
.table_head{
    background-color: #cbcbcb;
    border-right: #cbcbcb solid;
    margin-top: 10px;
}
.table_cell.payment {
    width: 475px;
}
.table_cell.payment input {
    width: 475px;
}
.status{
    margin: 5px;
    display: inline-block;
}
.appointment{
    border-bottom: #cbcbcb solid;
}
.appointment_list{
    width: 850px;
    border-right: #cbcbcb solid;
}
.input_wrap{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    height: 65px;
    width: 160px;
}

.form_field{
    border: 1px solid #000000;
    height: 60px;
    margin: 0;
    font-family: 'Circe',Arial,sans-serif;
    font-size: 100%;
    /*max-width: 140px !important;*/
}
.form_submit{
    font-family: 'Circe',Arial,sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: 700;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: #ffffff;
    background-color: #000000;
}
.gray{
    background-color: #bbbbbb;
}
.appointment_form {
    display: inline-block;
    width: 340px;
}
.appointment_table {
    vertical-align: top;
    display: inline-block;
    width: 850px;
}
.input_wrap_vertical{
    margin : 5px;
}
.confirm_window {
    background-color: #46b450;
    width: 1170px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 30px 0px;
    color: #fefefe;
    font-size: 20px;
}
.field-top-label {
    margin-top: -26px;
    font-size: 18px;
}
.pointer {
    cursor: pointer;
}

.head_menu_block {
    border: solid;
    padding: 5px;
    width: 160px;
    margin: 0px 5px 5px 0px;
    display: inline-block;
    vertical-align: top;
}
.head_menu_block_head{
    font-size: 20px;
    margin-bottom: 5px;
}
.head_menu{
    background-color: #cecece;
    width: 95%;
    display: inline-block;
}
.mini_my_account {
    width: 70px;
    display: inline-block;
}

.head_menu_block_item {
    margin:2px;
}

.checkbox_wrapper{
    text-align: center;
    margin-top: 20;
}

/* Форма регистрации */
.registration-form-container, .login-form-container {
    font-family: "Open Sans";
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px 30px;

    background: #4784E6;
    background: -moz-linear-gradient(39deg, #4784E6 0%, #363585 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #4784E6), color-stop(100%, #363585));
    background: -webkit-linear-gradient(39deg, #4784E6 0%, #363585 100%);
    background: -o-linear-gradient(39deg, #4784E6 0%, #363585 100%);
    background: -ms-linear-gradient(39deg, #4784E6 0%, #363585 100%);
    background: linear-gradient(39deg, #4784E6 0%, #363585 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4784E6", endColorstr="#363585", GradientType=1);

    width: 25%;
    text-align: center;

    -webkit-box-shadow: 0px 12px 13px -6px #000;
    -moz-box-shadow: 0px 12px 13px -6px #000;
    box-shadow: 0px 12px 13px -6px #000;
}

.title {
    color: #ffffff;
    float: left;
    font-size: 22px;
    margin: 0 0 5px 5px;
}

.input-field {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 22px;
    opacity: .6;
    margin-bottom: 5px;
}

input::-moz-placeholder {color: #000;}
input::-webkit-input-placeholder {color: #000;}
input:-ms-input-placeholder {color: #000;}
input::-ms-input-placeholder {color: #000;}
input::placeholder {color: #000;} 

.input-field:focus {
    -webkit-box-shadow: 0px 0px 3px 2px aqua;
    -moz-box-shadow: 0px 0px 3px 2px aqua;
    box-shadow: 0px 0px 3px 2px aqua;
}

.register_submit {
    width: 60%;
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    outline: none;
}

.register_submit:hover {
    cursor: pointer;
}
.choostime{
    width: 260px;
}
#selectTime{
    height: 15px !important;
}
.form_error {
    color : red;
}

.user_row{
    border-bottom: solid;
    border-right: solid;
    width: 740px;
}