<script src="https://unpkg.com/js-datepicker"></script>
<link rel="stylesheet" href="http://pleh4.herokuapp.com/css/style.css">
<div id="appointment_form_container" data-domain="http://pleh4.herokuapp.com" data-locale="ua" data-therapist="{{id}}"></div>
<script src="http://pleh4.herokuapp.com/js/widget/appointmentForm.js"></script>