(()=>{
    document.querySelector(".wpcf7").innerHTML = '<link rel="stylesheet" href="https://pleh4.herokuapp.com/css/style.css"><link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css"><div id="appointment_form_container" data-domain="https://pleh4.herokuapp.com" data-locale="{{it.locale}}" data-therapist="{{it.id}}"></div>';
    var s = document.createElement('script');s.setAttribute('src','https://unpkg.com/js-datepicker');
    document.head.appendChild(s);s = document.createElement('script');
    s.setAttribute('src','https://pleh4.herokuapp.com/js/widget/appointmentForm.js');
    document.head.appendChild(s);})();