<script src="https://unpkg.com/js-datepicker"></script>
<link rel="stylesheet" href="https://pleh4.herokuapp.com/css/style.css">
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<div id="appointment_form_container" data-domain="https://pleh4.herokuapp.com" data-locale="ua" data-therapist="{{id}}"></div>
<script src="https://pleh4.herokuapp.com/js/widget/appointmentForm.js"></script>