<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="./styles/dist/styles.css">
    <title>Log center</title>
  </head>
  <body>
      <section class="log-content">
          <div class="container">
              <h1>Дата</h1>
              <h3>Время</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam culpa nisi voluptate veniam consequuntur incidunt, quidem distinctio, libero voluptatem totam sunt saepe repellat, sint corporis vitae qui. Commodi.</p>
          </div>
      </section>
  </body>
</html>