<nav class="nav-bar">
  <div class="container">
    <h1 class="logo">4help log-center</h1>
    <a href="/logcenter/debug" class="debug">Debug</a>
    <a href="/logcenter/error" class="error">Error</a>
    <a href="/logcenter/warn" class="error">Warn</a>
    <a href="/logcenter/fatal" class="error">Fatal</a>
  </div>
</nav>

