<nav class="nav-bar">
  <div class="container">
    <h1 class="logo">4help log-center</h1>
    <a href="#" class="debug">Debug</a>
    <a href="#" class="error">Error</a>
    <a href="#" class="error">Warn</a>
    <a href="#" class="error">Fatal</a>
  </div>
</nav>

