<nav class="nav-bar">
  <div class="container">
    <h1 class="logo">4help log-center</h1>
    <a href="/logcenter/all" class="nav-link">All</a>
    <a href="/logcenter/debug" class="nav-link">Debug</a>
    <a href="/logcenter/warn" class="nav-link">Warn</a>
    <a href="/logcenter/error" class="nav-link">Error</a>
    <a href="/logcenter/fatal" class="nav-link">Fatal</a>
  </div>
</nav>